psycopg2-binary
bcrypt
matplotlib
pandas
openpyxl
Pillow
numpy<2.0.0
fpdf==1.7.2
Flask
flask-sqlalchemy
flask-login
gunicorn
sqlalchemy
werkzeug
cloudinary
qrcode[pil]
twilio
google-generativeai
python-dotenv
